{% extends 'core/base.html' %}

{% block content %}

    {% if userprofile.is_employer %}
        <h2 class="subtitle">Jobs</h2>

        {% comment %} <a href="{% url 'add_job' %}" class="button is-success">Add job</a> {% endcomment %}

        {% for job in request.user.jobs.all %}
            <div class="job">
                <a href="">{{ job.title }} </a>
            </div>
        {% empty %}
            <p>You don't have any jobs yet...</p>
        {% endfor %}
    {% else %}
        <h2 class="title">Applications</h2>

        {% comment %} {% for application in request.user.applications.all %}
            <div class="application">
                <a href="{% url 'view_application' application.id %}">{{ application.job.title }}</a>
            </div>
        {% empty %}
            <p>You haven't applied for any jobs yet...</p>
        {% endfor %} {% endcomment %}
    {% endif %}
{% endblock %}