{% extends 'core/base.html' %}

{% block content %}

<div class="container is-max-desktop">
    <div class="notification is-secondary">
        <div class="mb-6">
            <div class="flex">
                <h2 class="title"> {{application.job.title}}</h2>
                <div class="is-flex is-justify-content-center is-gap-4  ">

                    <div class="mr-4"> <ion-icon class="darkicon" name="person" size="small"></ion-icon></div>
                    <div class="mr-4"> <small> {{application.job.created_by.username}}</small></div>
                    <div><ion-icon name="clipboard-outline"></ion-icon> <strong>Job posted on</strong> <small>
                            {{application.created_at}}</small></div>

                </div>
            </div>


        </div>
        {% if application.content %}
        <p><strong>Cover Letter</strong><br>{{ application.content }}</p>
        {% endif %}

        {% if application.experience %}
        <p><strong>Experience</strong><br>{{ application.experience }}</p>
        {% endif %}

    </div>
</div>
<hr>
<div class="container is-max-desktop">
    {% for message in application.conversationmessages.all %}
    {% if message.created_by.userprofile.is_employer %}
    <div class="mt-3 ">
        <div class="notification is-light receivedMessage">
            {{ message.content }} <br>

            <div class="is-pulled-right ">
                <b>{{ message.created_by.username }}</b>
                <small>{{ message.created_at|timesince }} ago</small>
            </div>
        </div>

    </div>
    {% else %}
    <div class="ml-4 mt-3 ">
        <div class="notification is-dark sentMessage  ">
            {{ message.content }} <br>
            <div class="is-pulled-left ">
                <b>{{ message.created_by.username }}</b>
                <small>{{ message.created_at|timesince }} ago</small>
            </div>
        </div>

    </div>

    {% endif %}
    {% empty %}
    <p>No messages yet...</p>

    <hr>
    {% endfor %}

</div>

<div class="container is-max-desktop mt-3">


    <form method="POST" action="">

        {% csrf_token %}

        <div class="field">
            <div class="control">
                <textarea name="content" id="id_content" class="textarea" placeholder="Your message..."></textarea>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <button class="button is-success is-pulled-right">Send</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}
```