{% extends 'core/base.html' %}

{% block content %}
<div class="container">
    <div class="columns is-centered">
        <div class="column is-5">
            <div class="box">
                <h1 class="title has-text-centered">Login</h1>
                <form action="." method="post">
                    {% csrf_token %}

                    {% if form.errors %}
                    <div class="notification is-danger">
                        <p><strong>Oops! Something went wrong.</strong></p>
                        <ul>
                            {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    <div class="field">
                        <label class="label">Username</label>
                        <div class="control">
                            <input class="input" type="text" name="username" placeholder="Your username">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Password</label>
                        <div class="control">
                            <input class="input" type="password" name="password" placeholder="Your password">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button class="button is-success is-fullwidth">Log in</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}