{% extends 'core/base.html' %}

{% block content %}
<div class="is-flex is-justify-content-space-between is-5 gap-3 ">
    <button class="button is-info mr-4 mb-4 ">/></button>
    <h1 class="title">{{job.title}}</h1>
</div>
{% if not has_applied %}

<form action="" method="post">
    {% csrf_token %}
    {% if form.errors %}
    {% for error in form.errors %}
    <div class="notification is-danger">
        {{ error }}
    </div>
    {% endfor %}
    {% endif %}

    <div class="field">
        <label>Cover Letter</label>
        <div class="control">
            <textarea class="textarea" name="content" id="id_content" placeholder="write your cover letter here ..."></textarea>
        </div>
    </div>

    <div class="field">
        <label>Experience</label>
        <div class="control">
            <textarea class="textarea" name="experience" id="id_experience"></textarea>
        </div>
    </div>


    <div class="field">
        <div class="control">
            <button class="button is-success">Apply Job</button>

        </div>

    </div>

</form>

{% else %}

    <p>Your application has been submitted successfully!</p>

{% endif %}
{% endblock %}