{% extends 'core/base.html' %}

{% block content %}
<div class="container ">
    <h1 class="title">
        <button class="button is-info mr-4 ">/></button>
        {{ job.title }}
    </h1>

    <div class="notification">
        <p class="is-size-5">
            {{job.short_description}}
        </p>
    </div>

    <div class="notification is-size-5">
        <p>{{ job.long_description }}</p>

    </div>

    {% if user.is_authenticated and user.userprofile.is_employer %}
    <div></div>
    {% else %}
    <a href="{% url 'apply_for_job' job.id %}" class="button is-primary">Apply</a>

    {% endif %}

</div>


{% endblock %}